{% extends 'base.html' %}

{% block content %}

<p>
Click on one or more keywords to filter.

<p>
<span class="keyword-name"><a target="blank_" href="https://oeis.org/wiki/Clear-cut_examples_of_keywords">OEIS Keywords:</a></span>
{% for k in oeis_keywords %}
<a href="{{ url_for('index', id=id, keywords=switch_keyword(k, active_keywords)) }}"><span class="keyword-{{ style_keyword(k, active_keywords) }}">{{ select_keyword(k, active_keywords) }}</span></a>
{% endfor %}
</p>

<p>
<span class="keyword-name">More Keywords:</span> formula java loda pari
</p>
    
<p>
Showing {{ show }} of {{ count }} results:
</p>

<ul>
{% for entry in entries %}
<li>
 <a target="_blank" href="https://oeis.org/{{ a_number(entry['oeis_id']) }}">{{ a_number(entry['oeis_id']) }}</a>:
 {{ entry['name'] }}
(<a target="_blank" href="https://loda-lang.org/edit/?oeis={{ entry['oeis_id'] }}">LODA</a>,
 <a target="_blank" href="https://github.com/archmageirvine/joeis/blob/master/src/irvine/oeis/a{{ a_dir(entry['oeis_id']) }}/{{ a_number(entry['oeis_id']) }}.java">Java</a>)
</li>
{% endfor %}
</ul>

<p><a href="https://github.com/loda-lang/loda-programs#license">License Info</a></p>

<script async="" defer="" src="https://buttons.github.io/buttons.js"></script>

{% endblock %}
