{% extends 'base.html' %}

{% block content %}

<p>Filter by keywords:
    {% for k in all_keywords %}
    <a href="{{ url_for('index', start=start, keywords=switch_keyword(k, active_keywords)) }}"><span
            title="{{ keyword_descriptions[k] }}" class="keyword-{{ style_keyword(k, active_keywords) }}">{{
            select_keyword(k, active_keywords) }}</span></a>
    {% endfor %}
</p>

<p><b>
        {% if count == 0 %}
        No results.
        {% else %}
        Showing {{ start }}-{{ end }} of {{ count }} results:
        {% endif %}
    </b></p>

{% include 'pages.html' %}

<div class="sequence-list">
    {% for entry in entries %}
    <div class="col0"><a target="_blank" href="https://oeis.org/{{ a_number(entry['oeis_id']) }}">{{ a_number(entry['oeis_id'])
            }}</a>:</div>
    <div class="col1">{{ entry['name'] }} {{ prog_links(entry)|safe }}</div>
    {% endfor %}
</div>

{% include 'pages.html' %}

<br>
<br>
<p>
    License Info: See
    <a target="_blank" href="http://oeis.org/wiki/The_OEIS_End-User_License_Agreement">OEIS End-User License
        Agreement</a>.
    LODA is published under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a>.
</p>

{% endblock %}